<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Restaurants</title>
  </head>

  <body>
    <h1>Restaurant List</h1>
    <ul>
      <% for(let restaurant of restaurants) { %>
      <li><%= restaurant.name %></li>
      <% }%>
    </ul>
    <a href="/restaurants/new">Add new restaurant</a>
    
    <div><a href="/campgrounds">Home</a></div>
  </body>
</html>
